* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  transition: background 1s ease;
  background: #3498db;
}

p {
  text-align: center;
  font-size: 2em;
  color: #ece0e1;
}

.slide .inside {
  width: 100%;
  height: 100%;
  padding: 0 3em;
}